@font-face {
    font-family: FontAwesome;
    src: local("FontAwesome.otf"),
    url(/fonts/FontAwesome.otf); }
@font-face {
    font-family: rouble;
    src: local("rouble.otf"),
    url(/fonts/rouble.otf); }
@font-face {
    font-family: GloberBold;
    src: local("GloberBold.otf"),
    url(/fonts/GloberBold.otf); }
@font-face {
    font-family: Glober;
    src: local("GloberRegular.otf"),
    url(/fonts/GloberRegular.otf); }
@font-face {
    font-family: RobotoBold;
    src: local("RobotoBold.ttf"),
    url(/fonts/RobotoBold.ttf); }
@font-face {
    font-family: RobotoBlack;
    src: local("RobotoBlack.ttf"),
    url(/fonts/RobotoBlack.ttf); }
@font-face {
    font-family: MartaItalic;
    src: local("MartaItalic.otf"),
    url(/fonts/MartaItalic.otf); }
@font-face {
    font-family: OpenSans-BoldItalic;
    src: local("OpenSans-BoldItalic.ttf	"),
    url(/fonts/OpenSans-BoldItalic.ttf	); }
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: local("OpenSans-SemiboldItalic.ttf	"),
    url(/fonts/OpenSans-SemiboldItalic.ttf	); }
@font-face {
    font-family: BebasNeueBold;
    src: local("BebasNeueBold.ttf	"),
    url(/fonts/BebasNeueBold.ttf	); }

input, textarea, button, select {outline:none;vertical-align: middle;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;outline: none;}
a {color: #000000;text-decoration: none;cursor:pointer;}
button strong, button span {transition: all .3s ease 0s;}
strong {font-weight:300;font-family:RobotoBold;}
.fl_l{float:left;} .fl_r{float:right;} .fl_n{float:none;}
.disp_bl{display:block;} .disp_n {display:none;} .disp_ib {display:inline-block;}
.clear{clear:both;}
.w100{width:100%;}
.ta_c{text-align:center;} .ta_j{text-align:justify;} .ta_r{text-align:right;} .ta_l{text-align:left;}
.posRel {position:relative;} .posAbs {position:absolute;} .posFix{position:fixed;}
.fa {display: inline-block;font-family: FontAwesome; font-style: normal;font-weight: normal;line-height: 1; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
h1, h2, h3, h4 {margin:0px;padding:0px;font-weight:400;}
h1 {font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:36px;line-height:26px;margin: 0px 0px 10px;}
h1 span {font-size:51px;}
h2 {font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:24px;line-height:30px;margin:15px 0;}
h3 {font-family:RobotoBold;font-size:18px;line-height:25px;margin:15px 0;}

ul {margin: 0;padding: 0;list-style: none;-webkit-margin-before: 0;-webkit-margin-after: 0;}
ul.disk{padding-left:20px;}
ul.disk li{margin-bottom:10px;position:relative;}
ul.disk li:before {content:'';position:absolute;left: -20px;width: 6px;height: 6px; background: #25aae1; border-radius: 50%;top: 6px;}
ul.pdf{padding-left:20px;}
ul.pdf li{margin-bottom:10px;position:relative;}
ul.pdf li:before {content:'';position:absolute;left: -20px;width: 10px;height: 13px; background: url(/images/pdf.png) center no-repeat; top: 5px;}
ul.line{padding-left:20px;}
ul.line li{margin-bottom:10px;position:relative;}
ul.line li:before {content:'';position:absolute;left: -20px;width: 10px;height: 1px; background: #ffba00;top: 10px;}

img { max-width: 100%;  height: auto; vertical-align: middle;  border: 0; }
p {margin: 10px 0;line-height: 16px;}
b {font-weight:100;}
button{background: transparent; border: 0; overflow: visible; cursor: pointer; padding: 0; margin: 0; width: auto;}

html{height: 100%;margin:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body { background: #ffffff;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size: 14px; color: #000000;position: relative;-webkit-text-size-adjust: none;margin:0;height:100%;min-height:100%;}
.site_wrapper {min-height:100%;position:relative;padding-bottom:75px;}
.main_width {width:960px;padding:0 10px;margin:0 auto;position:relative;}
.container {margin-left:-10px;margin-right:-10px;margin-bottom:20px;}
.row:after {clear:both;display: table; content: ""; line-height: 0;}
.site {position: relative;min-height: 100%;}
.btn {font-family:Roboto;color:#fff;text-align:center;line-height:45px;width:220px;background:#25aae1;border: none;cursor:pointer;font-size:18px;border-radius:10px;display: inline-block;}
.btn.disabled {background:#808890;cursor:default;pointer-events: none;}
.form_control {background: #fff;display: block;border: 1px solid #b6b6b6;width:100%;line-height:35px;padding: 0 10px;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;font-size:12px;}
.form_control::placeholder{color:#000000;}
.form_control:focus::placeholder {opacity:0;}
span.rub {font-family: rouble;}

header {padding:15px 0; line-height: 20px;}
.header_mobile, .footer_mobile, .mobile_contacts {display:none;}
a.logo {display:inline-block;float:left;}
.header_info {display:inline-block;float:left;margin:0 30px;line-height: 15px;}
.header_info div {position:relative;padding-left: 20px;}
.header_info div:before {font-family: FontAwesome;color:#b6b6b6;font-size: 16px;position:absolute;left: 0;top:2px;display: inline-block;width: 15px;text-align: center;}
.header_info .addresses{font-size:18px;margin-bottom: 10px;}
.header_info .times span {font-size:18px;}
.header_info .addresses:before{content: "\f041";}
.header_info .times:before{content: "\f017";}
.header_phones {display:inline-block;float:right;font-size:24px;}
.header_phones a.default_phone {display:inline-block;float:left;position:relative;padding-left: 25px;margin-right: 25px;}
.header_phones a.default_phone:before {content: "\f098";font-family: FontAwesome;color:#25aae1;position:absolute;left: 0;top: 1px;display: inline-block;width: 20px;text-align: center;font-size:20px;}
.header_phones .free_phone {display: inline-block;}
.header_phones .free_phone a {color:#25aae1;}
.header_phones .free_phone span {color:#808890;font-size:12px;display:block;font-family: RobotoBold;}

.nav_wrapper {background:#25aae1;border-top:1px solid #1182b1;border-bottom:1px solid #1182b1;padding:10px 0;position:relative;}
.nav_wrapper:after {position:absolute;display:block;content:'';width:100%;height:5px;left:0;bottom:-5px;background:rgba(17, 17, 17, 0.25);}
.nav_wrapper nav ul {margin-left:-15px;margin-right:-15px;}
.nav_wrapper nav ul li {float:left;padding: 0 16px 0 17px;position:relative;}
.nav_wrapper nav ul li:before {content:'';display:block;width:1px; height:20px;background:url(/images/nav_border.png);position:absolute;    top: 0;left: 0;}
.nav_wrapper nav ul li:first-of-type {padding-left:17px;}
.nav_wrapper nav ul li:first-of-type:before  {display:none;}
.nav_wrapper nav ul li a {color:#fff;font-size:16px;line-height:20px;transition: all .3s ease 0s;}
.nav_wrapper nav ul li a:hover, .nav_wrapper nav ul li a.selected{color:#beeafc;}
.nav_mobile {display:none;}
.main_banner {background-image:url(/images/main_banner.jpg);background-position: top center; background-repeat: no-repeat;height:335px;}
.index_marks {position:relative;}
.index_marks:after {position:absolute;display:block;content:'';width:100%;height:5px;left:0;bottom:-5px;background:rgba(17, 17, 17, 0.25); z-index: 1;}
.index_marks ul {margin-left:-10px;margin-right:-10px;}
.index_marks ul li {float:left;width:9%;text-align:center;height:60px;margin: 10px 0 5px;}
.index_marks ul li div {height: 40px;max-width:55px;vertical-align: middle;display: table-cell;padding-bottom: 5px;}
.index_marks ul li span {display: block;color:#808890;font-family: GloberBold;transition: all .3s ease 0s;}
.index_marks ul li:hover span {color:#000;}

.index_page, .inset_page {background:#ecf0f3;}

.present_item_container {width:25%;float:left;padding:0 10px;}
.present_item{background:url(/images/present_bg.jpg) top center no-repeat; background-size: cover;height:100px;padding:15px 10px;font-family:RobotoBold;color:#fff;font-size:16px;box-shadow: #afb2b4 0px 5px 5px;}
.present_item div { display: table-cell;vertical-align: middle;min-width:75px; height: 65px;text-align:center;line-height: 20px;}
.present_item div+div {text-align:left;}

.specials_block_title {margin:10px 10px 0 10px;font-size:36px;}
.item_list li {float:left;width:25%;padding:10px;}
.list_item {background:#fff;border-radius:10px;box-shadow: #afb2b4 0px 0px 20px;padding:13px;font-size:18px;}
.list_item .item_image {width:190px;height:110px;padding-bottom:10px;text-align:center;vertical-align:bottom;display: table-cell;}
.list_item .item_name {}
.list_item .item_price{font-family: RobotoBold;color:#25aae1;}
.list_item .item_price span {font-size:24px;}

.bottom_page_content {background:#fff;}
.soc_block, .review_block {width:50%;float:left;padding:10px;}
.soc_block .article {padding:10px 0;border-bottom:1px solid #b6b6b6;margin-bottom:11px;}
.soc_block .article .article_image{width: 100px;height: 60px;float: left;margin: 0 20px 0 0;background-repeat: no-repeat;background-position: center;}
.soc_block .article p{color:#343434;line-height: 15px;max-height:60px;overflow:hidden;margin:0px;}

.review_item {margin-bottom:10px;}
.review_item .user_name{font-family: GloberBold;font-size:18px;margin-bottom:5px;}
.review_item .user_image{width: 150px;height: 100px;float: left;margin: 0 20px 0 0;background-repeat: no-repeat;background-position: center;}
.review_item .review_date{font-family: Glober;color:#808890;font-size:12px;float:right;margin-top: -25px;}
.review_item  p {line-height: 20px;max-height:103px;overflow:hidden;margin:0px;font-size:16px; font-family: MartaItalic; }

.action_block {background-image:url(/images/action_block_bg.png);background-position: top center; background-repeat: no-repeat;height:370px;}
.action_conditions {font-family: OpenSans-BoldItalic;line-height: 45px;width:50%;float:right;padding:50px 10px 25px;}
.action_conditions .action_title_black {font-size:41px;color:#000;}
.action_conditions .action_title_white {font-size:45px;color:#fff;}
.action_conditions .action_title_timer {font-size:28px; margin-top: 10px;}
.action_block .btn {font-size:24px;width:400px;line-height:65px;}
.eTimer.custom_timer .etUnit .etNumber {width: 36px;line-height: 45px;box-shadow: inset 0px 2px #cfcfcf;}
.eTimer.custom_timer .etUnit .etSign {font-size:22px;font-family: OpenSans-SemiboldItalic;}
.eTimer.custom_timer .etTitle {display:none;}

.auth_page {padding:20px 0;}
.auth_form {width: 400px;margin: 0 auto;}
.request_form.auth_form .btn {width: 48%;float: left;margin:1%;}

.inset_page {padding:10px 0;}
.inset_page.white_bg {background:#fff;padding-bottom:0;}
.breadcrumbs {font-size:12px;color:#545454;margin-bottom:10px;}
.breadcrumbs a {color:#25aae1;}
.breadcrumbs a:hover {text-decoration:underline;}
.about_page_content {background:#fff;padding:20px;border-radius:10px;box-shadow:#afb2b4 0px 0px 10px;margin:0 -20px 10px;}
.about_bg {background:url(/images/about_bg.jpg) bottom center no-repeat;height: 446px;margin-top: -50px;}
.auto_page_content {}

.cars_filter {background:#fff;padding:20px;border-radius:10px;box-shadow:#afb2b4 0px 0px 10px;margin:15px -10px;}
.cars_filter_block {display:inline-block;float:left;width:180px;position:relative;margin:0 5px;font-size: 12px;}
.cars_filter_block .dropcontainer {position:absolute;background:transparent;border:none;width:179px;line-height:35px;z-index: 1;}
.cars_filter_block .select2 {width:100%;}
.cars_filter .btn {width:150px;font-size:16px;line-height: 35px;margin-left:5px;}
.cars_list h2 img {float: left;margin-right: 10px;}

.mark_page_title h1{float: left; margin-right: 20px;line-height: 37px;}
.mark_page .cars_list {width:710px;float:left;}
.mark_page .cars_list ul li{width:33.3%}
.presents_block.sidebar {width:210px;float:right;}
.presents_block.sidebar .present_item_container {width:100%;float:none;padding:10px 0;}
.presents_block.sidebar .present_item_container .present_item {height:86px;}
.presents_block.sidebar .present_item_container:first-of-type .present_item{background: url(/images/present_bg_y.jpg) top center no-repeat;color:#000;}
.presents_block.sidebar .present_item_container .present_item span {font-size:30px;}
.presents_block.sidebar.sidebar2 {width:220px;}
.presents_block.sidebar.sidebar2 .present_item_container {margin-bottom: 15px;}
.presents_block.sidebar.sidebar2 .present_item_container .present_item {height:100px;}
.presents_block.sidebar.sidebar2 .present_image_container .present_item {background: none;padding: 0;}
.presents_block.sidebar.sidebar3 .present_item_container:first-of-type .present_item {background:url(/images/present_bg.jpg) top center no-repeat;color:#fff;}
.presents_block.sidebar.sidebar3 .present_item_container { margin-bottom: 23px;}

.advertising_flag {font-family: RobotoBlack;font-size:24px;color:#fff;position:relative;padding: 0 10px;display: inline-block;}
.advertising_flag>div {background:#25aae1;position:relative;display:inline-block;padding:0 20px;line-height: 37px;height: 39px;}
.advertising_flag>div span {font-size:18px;}
.advertising_flag>div span.fs14 {font-size:14px;font-family: RobotoBold;}
.advertising_flag:before {content:'';background:url(/images/flag_before.png);display:block;position:absolute;width:10px;height:39px;left:0;top:0;}
.advertising_flag:after {content:'';background:url(/images/flag_after.png);display:block;position:absolute;width:10px;height:39px;right:0;top:0;}

.contants_block {float:left;padding:30px 0 10px;width:360px;}
.contants_block:last-of-type {width:220px;float:right;}
.contants_block p {margin: 5px 0;}
.contants_block.address_block div {margin-bottom:20px;}
.contants_block.address_block span {color:#ff7200;}
.contants_block.phones_block a {font-size:24px;display: inline-block;margin-bottom: 10px;line-height: 20px;}
.contants_block.recall_block a.free_phone{color:#25aae1;font-size:24px;display:inline-block;margin-bottom:25px;line-height: 20px;}

.documents_block {font-size:16px;width:50%;float:left;padding-bottom: 20px;}
.documents_block ul li a {color:#0193e4;font-family: RobotoBold;}
.documents_block .btn{width:335px;font-size:16px;line-height: 35px;margin-top: 25px;}
.credits:before {clear:both;display: table; content: ""; line-height: 0;}
.credits  {text-align:center;padding-bottom:20px;}
.credits ul {margin-left:-10px;margin-right:-10px;}
.credits ul li{float:left;height: 42px;margin-bottom: 10px; padding: 10px; min-width: 85px;}
.credits ul+ul li {min-width:100px;}
.attantion_block {background: #cad7e0; text-align: center;padding: 15px 0;box-shadow: inset rgba(17, 17, 17, 0.16) 0 10px 10px;color:#343434;}
.attantion_block div.fs16 {text-transform:uppercase;font-size:16px;}
.bottom_map {background-image:url(/images/footer_map.jpg);background-position: top center; background-repeat: no-repeat;height:380px;}

.model_page {position:relative;border-bottom:5px solid #cacaca;}

.model_colors_block{width:430px;text-align:center;padding: 0 10px;float: left;}
.model_sigle_color {display:none;}
.model_sigle_color.active {display:block;}
.model_image {width:100%;height:210px;background-position: center;background-repeat: no-repeat;background-size: contain;margin-bottom:20px;}
.colors_block{display:inline-block;margin:10px auto;}
.colors_block li {display:inline-block;margin:1px;}
.colors_block li span {display:inline-block;width:60px;height:15px;cursor:pointer;}
.colors_block li#white span {border:1px solid #000;}
.colors_block li.active{margin-top: 7px;}
.colors_block li.active span {height:21px;margin-bottom: -3px;}
.price_block {width:290px;display:inline-block;padding:0 10px 0 30px;font-family:RobotoBold;font-size:22px;float: left;margin-top: -32px;}
.price_block .old_price {font-size:20px;color:#545454;}
.price_block .new_price span {font-size:33px;}
.discount {text-align:center;background:url(/images/discount_bg.png) top center no-repeat;width:220px;height:95px;font-size:21px;line-height: 24px; padding: 12px 0;}
.discount span {font-size:27px;}
.request_form_block {display: inline-block;float: right;width: 220px;margin-top: -32px;}
.request_form{background:#25aae1;border-radius:10px;box-shadow: #afb2b4 0px 0px 20px;padding:8px;position:relative;}
.form_title {text-align:center;color:#fff;font-family:RobotoBold;text-transform:uppercase;font-size:17px;line-height: 15px;margin-bottom: 10px;}
.form_title span {font-size:27px;}
.request_form .form_control { margin-bottom: 5px;width:100%;font-size:12px;border:none;line-height: 30px;}
.request_form .select2 {width:100%;font-size:12px; margin-bottom: 5px;}
.request_form .select2-container--default .select2-selection--single {border:none;}
.request_form .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 30px;}
.request_form .select2-container--default .select2-selection--single .select2-selection__arrow {height: 28px;}
.request_form .select2-search--dropdown {display:inline-block}
.request_form .btn {background:#ffbb03;color:#111;font-size:14px;line-height: 35px; width: 100%;font-family: RobotoBold;}
.tradein_check {color:#fff;    font-size: 12px; margin-bottom: 5px;line-height: 17px;}
.checkbox {vertical-align: top;width: 17px;height: 17px;margin: 0 3px 0 0;}
.checkbox + label {cursor: pointer;}
.checkbox:not(checked) { position: absolute; opacity: 0;}
.checkbox:not(checked) + label {position: relative;padding: 0 0 0 25px;}
.checkbox:not(checked) + label:before { content: ''; position: absolute; top:1px;left: 0; width: 15px; height: 15px;background: #FFF;}
.checkbox:not(checked) + label:after {content: '';position: absolute;    top: 3px;left: 2px;width: 11px; height: 11px;border-radius: 50%; background: #fff;transition: all .2s;}
.checkbox:checked + label:after {background:#ffbb07;}

.specialty_page_content{background:#fff;padding:20px 10px;border-radius:10px;box-shadow:#afb2b4 0px 0px 10px;margin:10px 0;}
.specialty_content {display:none;}
.specialty_content.active {display:block;}
.specialty_page_header {border-bottom:1px solid #3b3b3b;position:relative;}
.tradein_banner {position:absolute;top: -2px;right: 0;}
.tabs li {display:inline-block;padding:15px 20px;font-family:RobotoBold;font-size:16px;background:#25aae1;color:#fff;border-radius:10px 10px 0 0;cursor:pointer;}
.tabs li.active {color:#000;background:#fff;border:1px solid #3b3b3b;border-bottom:1px solid #fff;margin-bottom:-2px;}

.specialty_content_block {width:680px;margin:20px 0;float:left;}
.model_title {font-size:18px;font-family:RobotoBold;padding:0 5px;}
.sort {border-bottom:2px solid #d5d5d5;font-size:12px;font-family:RobotoBold;}
.sort a.sort_link {color:#25aae1;cursor:pointer;position:relative;}
.sort a.sort_link:after {content:'';border-style: solid;height: 0;right:-15px;margin-top: -2px;position: absolute;top: 50%; width: 0;}
.sort a.sort_link.minmax:after{border-color: #25aae1  transparent transparent transparent;border-width: 5px 5px 0 5px;}
.sort a.sort_link.maxmin:after {border-color: transparent transparent #25aae1 transparent;border-width: 0 5px 5px 5px;}
.model_characteristics_tab {margin-bottom: 20px;}
.model_characteristics_tab .complectation_name {width:140px;float:left;padding:5px;font-family:RobotoBold;}
.complectation_name_tab {display:table-cell;  min-height: 35px; vertical-align: middle;}
.model_characteristics_tab .complectation_name span.show_info {cursor:pointer;display: inline-block;line-height: 15px;width: 105px;}
.model_characteristics_tab .complectation_name span.show_info:after{content: "\f0d7";font-family:FontAwesome;margin-left: 5px;}
.model_characteristics_tab .complectation_name span.show_info.info_open:after {content: "\f0d8";}
.model_characteristics_tab .complectation_name .checkbox:not(checked) + label:before {border:1px solid #7a7a7a;width:10px;height:10px; top: 3px;}
.model_characteristics_tab .complectation_name .checkbox:not(checked) + label:after {top: 5px;width: 8px;height: 8px;}
.model_characteristics_tab .KPP {width:100px;float:left;padding:5px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.model_characteristics_tab .power {width:95px;float:left;padding:5px;}
.model_characteristics_tab .price {width:150px;float:left;padding:5px;color:#25aae1;}
.model_characteristics_tab .buy_link {width:150px;float:left;padding:5px;}
.model_characteristics_tab .print_link {width:40px;float:left;padding:5px;}
.model_characteristics_tab .buy_link .btn {width:100%;font-size:14px;line-height:28px;}
.dop_info{font-size:12px;}
.dop_info>div {padding-bottom:10px; width: 50%;float: left;padding:0 5px;}
.dop_info ul li{line-height: 14px;border: none;}
.dop_info ul li:nth-child(even){background: transparent;}
.dop_info_title {font-family:RobotoBold;}
.dop_info p {margin: 0 5px 5px;}
.pack_info {margin-bottom:10px;}
.pack_title {padding:5px;font-family:RobotoBold;color: #25aae1;font-size: 14px;}


.characteristics_tab {font-size:12px;}
.characteristics_tab tbody tr:nth-child(even) td {background:#f8f8f8;}
.characteristics_tab th {border-bottom: 2px solid #d5d5d5;font-size: 12px; font-family: RobotoBold;text-align:left;padding: 5px;}
.characteristics_tab th:first-of-type {width:130px;}
.characteristics_tab td{padding: 10px 5px;line-height: 15px;border-bottom: 1px solid #d5d5d5;}
a.gallery {display: inline-block;text-align: center;padding: 5px;}

.sort_results {margin-bottom:10px;}
.sort_results li {line-height: 35px;border-bottom:1px solid #d5d5d5;}
.sort_results li:nth-child(even) {background:#f8f8f8}
.sort_results .price span {font-size:16px;}

.inform_banner{float: right; width: 218px;border: 1px solid #d5d5d5;margin-top: 70px;padding:10px;text-align:center;background:url(/images/banner_map.jpg) bottom center no-repeat;height: 445px;position:relative;}
.banner_phones {margin:7px 0;}
.banner_phones a {font-family:RobotoBlack;font-size:20px;display:block;position: relative;padding-left: 25px;}
.banner_phones a:before {content: "\f098"; font-family: FontAwesome;color: #322f31; position: absolute; left: 5px;top: 1px; display: inline-block;width: 20px;text-align: center;font-size: 20px;}
.banner_phones a.free_phone{color: #25aae1;}
.banner_phones b {font-size: 11px;color:#747474;font-family:RobotoBold;}
.banner_info{margin-bottom: 212px;}
.banner_info div {position:relative;padding-left: 25px;text-align:left;margin-bottom: 5px;}
.banner_info div:before {font-family: FontAwesome;color:#b6b6b6;font-size: 16px;position:absolute;left:5px;top:2px;display: inline-block;width: 15px;text-align: center;}
.banner_info .addresses{font-size:14px;font-family:RobotoBold;line-height: 14px;}
.banner_info .times {font-size:12px;}
.banner_info .addresses:before{content: "\f041";}
.banner_info .times:before{content: "\f017";top:1px;}
.inform_banner .btn {background: #ffbb03;color: #111;font-size: 14px;line-height: 35px;width: 100%;font-family: RobotoBold; }
.mentions_list {width:700px;float:left;padding-top: 20px;}
.mentions_list ul li.review_item {position:relative;border-bottom:1px solid #b6b6b6; padding-bottom:20px;margin-bottom:20px;color:#595959;}
.mention_pic{ float: left;width: 220px; margin-right: 20px;}
.mention_title {font-size:18px;margin-bottom:15px;line-height: 16px;height: 25px;width:380px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.mention_date {position:absolute;right:0;top:0;font-size:12px;line-height: 16px;}
.pager {text-align:center;}
.pager ul li {display:inline;}
.pager a, .pager span {display:inline-block;background:#3a3a3a;color:#fff;text-align:center;width:48px;line-height:48px;margin:5px;border-radius:5px;transition: all .3s ease 0s;}
.pager .active span {background:#26aae2;}
.pager a:hover {background: #ffbb03;color:#000;}
.sidebar {width: 220px;float: right;}

.request_page_content {background:#fff;padding:20px;border-radius:10px;box-shadow:#afb2b4 0px 0px 10px;width: 700px; float: left;margin-top:10px;margin-bottom:20px;}
.request_page_content h1 {text-align:center;font-family:RobotoBold;}
.request_page_content h2 {margin-bottom:10px;}
.tradein_request_form, .credit_request_form {width:285px; display: table-cell;padding-right:25px;}
.request_page_content .select2, .request_page_content .form_control {width:100%;margin-bottom:10px;line-height:30px;}
.request_page_content .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 30px;}
.request_page_content .select2-container--default .select2-selection--single .select2-selection__arrow {height: 28px;}
.compliance_check .checkbox:not(checked) + label{padding: 0 0 0 19px;}
.compliance_check .checkbox:not(checked) + label:before {border:1px solid #7a7a7a;width: 13px;height: 13px;}
.compliance_check .checkbox:not(checked) + label:after {top: 4px;left:3px;width: 9px;height: 9px;}
.compliance_check {font-size:11px;height: 30px;}
.request_page_content .btn {width:100%;}
.request_desc {vertical-align: bottom;width:355px;display:table-cell;vertical-align: bottom;background:url(/images/tradein_bg.png) top center no-repeat;    background-size: contain;}
.request_text p {font-size:16px;margin-bottom: 25px;}
.request_text p:last-of-type{margin-bottom:0}
.credit_request_form {margin-top:10px;}

.more_credits {padding-top: 20px;}
.more_credits .list_item{text-align:center;height:190px;}
.more_credits .item_name{font-family: RobotoBold;color: #25aae1;}
.more_credits .list_item .item_image {height: 90px;padding-bottom:0px;vertical-align: middle;}

.compare_tab {margin-bottom:20px;}
.compare_tab th{font-size:12px;min-width: 80px;color: #25aae1;}
.compare_tab .row_td {text-align:center;font-family:RobotoBold;background:#fff;}
.compare_tab .tablesaw-swipe-cellpersist {font-family:RobotoBold;}
.compare_tab tr:nth-child(even) {  background: #f8f8f8;}
.compare_tab tr td+td {text-align:center;}
.compare_tab span.yes:before{content: "\f00c";font-family:FontAwesome;  color: #25aae1;}

/*news_list*/
.news_list {margin-top:25px;}
.news_item {border-bottom:1px solid #98a2ac;padding-bottom:10px;margin-bottom:20px;}
.news_item_image {width:220px;height:170px;margin:0 20px 5px 0;float:left;}
.news_item_content {width: 700px;float: left;}
.news_item_title {font-size:24px;line-height: 24px;margin-bottom: 10px;display: inline-block;}
.news_item_date { width: 100px;font-size: 12px;line-height: 23px;text-align: center;border-radius: 6px;background: #dee3e8; }
.news_item .btn{float:right; margin-top: -20px;}
.news_item .btn:hover {background:#1182b1;}


footer {padding:15px 0; line-height: 20px;background:#231f20;color:#808890;position:absolute;bottom:0px;left:0px;width:100%;}
footer a.default_phone{color:#808890;}

/*popup*/
.popup_form {width:280px;background: #fff;}
.popup_form h3 {text-align:center;}
.form_field {margin-bottom:5px;position: relative;font-size: 12px;}
.form_field .formError {top: 33px !important; left: 0 !important;}
.popup_form .select2 {font-size:12px; margin-bottom: 5px;}
.popup_form .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 30px;}
.popup_form .select2-container--default .select2-selection--single .select2-selection__arrow {height: 35px;}
.popup_form .select2-container .select2-selection--single {height: 35px;}
.popup_form .select2-search--dropdown {display:inline-block}
.popup_form .call_time label {float: left;line-height: 35px; }
.popup_form .call_time .fl_l {margin-left: 5px;position:relative;}
.popup_form .call_time .select2-container .select2-selection--single{width:69px;}
.popup_form .btn {width: 100%;font-size: 16px;}

 
 /*mobile*/
@media only screen and (max-device-width: 480px) {
body {font-size:12px;}
h1 {font-size:18px;text-align:center;}	
h1 span {font-size: 24px;}
h2{font-size:18px;line-height: 18px;text-align:center;}
h3{font-size:16px;text-align:center;line-height: 16px;}
h4{font-size:14px;}
p {font-size:12px;}
ul.pdf li:before {top: 2px;}
.site_wrapper {padding-bottom:62px;}
.main_width {width:100%;}
.container {margin-left: -5px;margin-right: -5px;}
.page_wrapper {padding:15px 10px;}
.index_block_title {font-size:24px;margin-bottom:15px;text-align:center;}
.banner_title{line-height: 25px;}	
.form .inputtext {font-size:12px;padding: 5px 10px;margin-top: 3px;margin-bottom: 1px;}
.form .btn {font-size: 10px;line-height: 25px;}
.site_wrapper.index_page {background-image:url(images/main_banner_mobile.jpg);}
header, .nav_wrapper {display:none;}
.header_mobile {display:block;text-align: center;position:relative;height:53px;padding: 15px 0;}
a.logo {float: none;width: 80px;}
a.mobile_phone_ico{position: absolute; top:-2px; right: 10px;width: 25px;}
a.mobile_nav_ico{position: absolute; top: -2px; left: 10px;}
.nav_mobile {display:block;position: fixed;top: 0;left: -201px; width: 200px;height: 100%; background: #fff; z-index: 1000;overflow-y: auto; -webkit-transition: left .4s ease-in-out; -moz-transition: left .4s ease-in-out; -ms-transition: left .4s ease-in-out; -o-transition: left .4s ease-in-out;transition: left .4s ease-in-out;border-right:1px solid #e1e1e1;}
.nav_mobile.visible {left: 0;}
.nav_mobile_content ul li a {display: block;position: relative;height: 43px; color: #fff;border-bottom: 1px solid #fff;padding: 10px 20px;text-transform: uppercase;}
.mobile_nav_header{background:#fff;height:53px;position:relative;border-bottom: 1px solid #e1e1e1;}
.mobile_nav_header .mobile_nav_ico {position:absolute; top: 12px;right: 15px;left:auto;}
.mobile_nav_header .logo {position:absolute;top: 15px;left: 10px;}
.nav_mobile ul li {padding:0 35px;line-height: 45px;border-bottom: 1px solid #e1e1e1;font-size:12px;}
.nav_mobile .mobile_info {padding:15px 35px;font-size:12px;}
.nav_mobile .mobile_info span{color:#666666;display:inline-block;margin:5px 0;}
.nav_mobile .mobile_info .phones {margin:10px 0;}
.nav_mobile .mobile_info .phones a {font-size:14px;color:#666666;font-family:RobotoBold;display:inline-block;margin:5px 0 0;}
.breadcrumbs {display:none;}
.main_banner {height: 125px;background-size: cover;}
.index_marks {display:none;}
.contacts {display:none;}
.presents_block {padding-top:5px;}
.present_item_container {width: 50%;padding: 5px;}
.present_item div {line-height: 15px;font-size: 12px;}
.specials_block_title {font-size: 16px; text-align: center;}
.item_list li {width: 50%;padding: 5px;}
.list_item{font-size: 15px;}
.list_item .item_image {width:100%;height:90px;}
.list_item .item_price span {font-size: 18px;}
.bottom_page_content {display:none;}
.action_block{height: 125px; background-size: cover;margin-top: -10px;background-position-x: 70%;}
.action_conditions {line-height: 18px;padding: 20px 10px;width:175px;margin-right: 35px;}
.action_conditions .action_title_black {font-size: 14px;}
.action_conditions .action_title_white {font-size: 15px;}
.action_conditions .action_title_timer{font-size: 12px;margin-top: 0px;}
.action_block .btn{font-size: 11px;width: 100%;line-height: 20px;}
.bottom_map {display:none;}
.contacts{display:none;}
.inset_page.mobile_contacts {background:#ecf0f3;padding-top:20px;}
.model_colors_block {width: 100%;float: none;}
.colors_block li {margin-bottom:0px;}
.colors_block li span {width: 45px;}
.price_block {width: 100%;padding: 45px 10px 0 10px;font-size: 16px; float: none; margin-top: 15px;text-align: center;position:relative;}
.discount{width: 100%;background: #26aae2;color: #fff;font-size: 14px;height: 30px;padding: 2px 0;position: absolute;top: 0;left:0;}
.discount br {display:none;}
.discount span {font-size: 18px;}
.request_form_block {float: none;width: 100%;margin-top: 20px;margin-bottom: 20px;}
.inform_banner, .tradein_banner {display:none;}

.specialty_tabs .tabs li{width: auto;font-size: 12px;padding: 5px; text-align: center;font-family: Roboto;position:relative;}

.specialty_content_block {width: 100%;float: none;}
.model_characteristics_tab .sort, .model_characteristics_tab .KPP, .model_characteristics_tab .power, .model_characteristics_tab .print_link{display:none;}
.model_characteristics .model_title {text-align:center;}
.model_characteristics_tab .complectation_name, .model_characteristics_tab .price {width: 35%;}
.sort_results .price span {font-size: 14px;}
.complectation_name .checkbox, .complectation_name label:before, .complectation_name label:after {display:none;}
.complectation_name .checkbox:not(checked) + label {padding:0;}
.model_characteristics_tab .buy_link {width: 30%;}
.model_characteristics_tab .buy_link .btn {width: 100%;font-size: 10px;line-height: 20px;}
.model_characteristics_tab>.btn {display:none;}
.characteristics_tab_wrapper {    width: 100%; overflow-x: scroll;}
.documents_block {float:none;width:100%;padding: 0 40px;font-size:12px;}
.documents_block .btn {width:100%;font-size: 12px;}
.credits ul li {width: 33%;}
.cars_filter {background:transparent;box-shadow:none;padding: 10px;text-align: center;}
.cars_filter_block {width:100%;margin:0 0 10px;text-align: left;}
.request_page_content {width:100%;float:none;}
.request_text {background: rgba(255, 255, 255, 0.75);}
.request_text p { font-size: 12px;margin-bottom: 10px;}
.tradein_request_form, .credit_request_form {width: 100%;display: inline-block; padding-right: 0;}
.presents_block.sidebar.sidebar2 {width: 100%; float: none;}
.presents_block.sidebar.sidebar2 .present_item_container {width: 50%;float: left;padding: 5px; margin-bottom: 0px;}
.presents_block.sidebar.sidebar2 .present_item_container .present_item {height: 75px; padding: 5px 10px;}
.presents_block.sidebar.sidebar2 .present_item_container.present_image_container .present_item {padding: 0px;}
.sidebar, .mentions_list{ width: 100%; float: none;}

footer {display:none;}
.footer_mobile {display:block;padding:10px; line-height: 20px;background: #231f20;position:absolute;left:0;bottom:0;width:100%;}
.footer_mobile img {width: 80px;margin: 10px 0;}
.footer_mobile .header_phones {font-size: 12px;}
.footer_mobile .header_phones a.default_phone { display: block;float:none;margin-right:0;color:#808890;}
.footer_mobile .header_phones .free_phone{display: block; position: relative;padding-left: 25px;color:#25aae1;}
.footer_mobile .header_phones .free_phone:before {content: "\f098"; font-family: FontAwesome;color: #25aae1; position: absolute;  left: 0;top: 1px;display: inline-block;    width: 20px; text-align: center;font-size: 20px;}
.mobile_contacts  {display:block;text-align: center;position:relative;background:#ffffff;padding:0px;color:#111;}
.mobile_contacts h3 {font-family:Roboto;}
.mobile_contacts .addresses div {margin:5px 0 15px;}
.mobile_contacts .times div {margin:10px 0 15px;}
.mobile_contacts .mobile_phones a {font-size:16px;}
.mobile_contacts .mobile_phones {margin-bottom:15px;}
.mobile_contacts .mobile_phones span {display:block;color:#808890;}
.mobile_contacts a.free_phone {color:#111;}
.mobile_contacts .free_phone {margin:10px 0 15px;}
.mobile_contacts .free_phone a {color:#25aae1;}
.mobile_map {background-image:url(/images/footer_map.jpg);background-position: center;background-repeat: no-repeat;height: 240px;background-size: cover;}
}
@media only screen and (max-device-width: 360px)
{
.specialty_tabs .tabs li{z-index:3;}
.specialty_tabs .tabs li+li {margin-left:-5px;z-index:2;}
.specialty_tabs .tabs li+li+li {z-index:1;}
.specialty_tabs .tabs li.active {z-index:4;}}

/* Validation Engine*/
.formError { left: 20px !important;}
.formError {
    z-index: 990;
}
.formError .formErrorContent {
    z-index: 991;
}
.formError .formErrorArrow {
    z-index: 996;
}
.ui-dialog .formError {
    z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
    z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
    z-index: 5006;
}
.inputContainer {
    position: relative;
    float: left;
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer;
    text-align: left;
}
.formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none;
}
.formError .formErrorContent {
    width: 100%;
    background: #111111;
    position: relative;
    color: #ffffff;
    min-width: 120px;
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.greenPopup .formErrorContent {
    background: #95b75d;
}
.blackPopup .formErrorContent {
    background: #000;
    color: #FFF;
}
.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
    margin: 0px 0 0 12px;
    top: 2px;
}
.formError .formErrorArrow div {
    font-size: 0px;
    height: 1px;
    background: #111111;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
}
.greenPopup .formErrorArrow div {
    background: #95b75d;
}
.blackPopup .formErrorArrow div {
    background: #000;
    color: #FFF;
}
.formError .formErrorArrow .line10 {
    width: 13px;
    border: none;
}
.formError .formErrorArrow .line9 {
    width: 11px;
    border: none;
}
.formError .formErrorArrow .line8 {
    width: 11px;
}
.formError .formErrorArrow .line7 {
    width: 9px;
}
.formError .formErrorArrow .line6 {
    width: 7px;
}
.formError .formErrorArrow .line5 {
    width: 5px;
}
.formError .formErrorArrow .line4 {
    width: 3px;
}
.formError .formErrorArrow .line3 {
    width: 1px;
}
.formError .formErrorArrow .line2 {
    width: 0px;
    border: none;
}
.formError .formErrorArrow .line1 {
    width: 0px;
    border: none;
}

.info, .success, .warning, .alert-danger, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.alert-danger {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('images/validation.png');
}

.close {

    float: right;
}

.search{
    position:relative;
}

.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    border-radius: 4px;
    max-height:100px;
    overflow-y:scroll;
    display:none;
}

.dropdownvisible {
    max-height:100px;
    overflow-y:scroll;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}

#wrapper { width: 640px; margin: 0 auto; padding:90px 0 0 0; }
#inline { display: none;}
#inline_credit { display: none;}

.txt {
    display: inline-block;
    color: #676767;
    width: 420px;
    font-family: Arial, Tahoma, sans-serif;
    margin-bottom: 10px;
    border: 1px dotted #ccc;
    padding: 5px 9px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.txtarea {
    display: block;
    resize: none;
    color: #676767;
    font-family: Arial, Tahoma, sans-serif;
    margin-bottom: 10px;
    width: 500px;
    height: 150px;
    border: 1px dotted #ccc;
    padding: 5px 9px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

#send {
    color: #dee5f0;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #224983;
    border-radius: 5px;
    background: #1e4c99;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d));
    background: -moz-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
    background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
    background: linear-gradient(top, #2f52b7, #0e3a7d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');
}
#send:hover {
    background: #183d80;
    background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b));
    background: -moz-linear-gradient(top,  #284f9d, #0c2b6b);
    background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
    background: -o-linear-gradient(top, #284f9d, #0c2b6b);
    background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
    background: linear-gradient(top, #284f9d, #0c2b6b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
#send:active {
    color: #8c9dc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7));
    background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
    background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
    background: -o-linear-gradient(top, #0e387d, #2f55b7);
    background: -ms-linear-gradient(top, #0e387d, #2f55b7);
    background: linear-gradient(top, #0e387d, #2f55b7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}